RewriteEngine On

RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/\.well
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]

RewriteRule ^login$ index.php?p=login [L,QSA]
RewriteRule ^api/([a-z_.]+)$ api.php?action=$1 [L,QSA]
RewriteRule ^(api)/([a-z_.]+)/(.+)$ /$1.php?action=$2&param=$3 [QSA,L]

RewriteRule ^([a-zA-Z\.\_]+)$ index.php?p=$1 [L,QSA]
RewriteRule ^([a-zA-Z\.\_]+)/(\d+)$ index.php?p=$1&id=$2&action=detail [L,QSA]
RewriteRule ^([a-zA-Z\.\_]+)/(\d+)/([\w\d_]+)$ index.php?p=$1&id=$2&action=$3 [L,QSA]
RewriteRule ^([a-zA-Z\.\_]+)/([\w\d_]+)$ index.php?p=$1&action=$2 [L,QSA]
